/* You can add global styles to this file, and also import other style files */
*{
    
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 400;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    
}
